<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpe.phaith.androidfundamental" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fileview"
            android:label="@string/title_activity_fileview" >
        </activity>
        <activity
            android:name=".playbackitf"
          >
        </activity>
        <activity
            android:name=".WaveFormView"
            android:label="@string/title_activity_wave_form_view" >
        </activity>
        <activity
            android:name=".edit"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name=".MarkerView"
            android:label="@string/title_activity_marker_view" >
        </activity>
        <activity
            android:name=".SongMetadataReader"
            android:label="@string/title_activity_song_metadata_reader" >
        </activity>
        <activity
            android:name=".SeekTest"
            android:label="@string/title_activity_seek_test" >
        </activity>
    </application>

</manifest>
